<!DOCTYPE html>
<html>
<head>
    <title>Counted Words</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <p>Your word appears in this sentence @Model times.</p>
        <a href="/">Go back to homepage.</a><br>
        <a href="/wordcounter">Play again!</a>
    </div>
</body>
</html>
