<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  </head>
    <body class="container">
        <h1>Word Counter</h1><br>
        <p>Welcome to the game!</p>
        <p>Lets play!</p>
        <strong><a href="/wordcounter">Click here to start.</a></strong><br>
    </body>
</html>
