<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Word Counter Game</title>
    </head>
    <body>
        <div class="container">
            <h1 class="jumbotron">Welcome to the Word Counter Game</h1>
            <form action="/wordcounter" method="post">
              <label for="sentence">Please enter a sentence.</label>
              <input id="sentence" name="sentence" type="text">
              <label for="word">Please enter a word.</label>
              <input id="word" name="word" type="text">
              <button class="btn btn-danger" type="submit">Let's count!</button>
            </form>
        </div>
    </body>
</html>
