<!DOCTYPE html>
<html>
  <head>
    <title>Counted Words</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <p>Youre word appears in this sentence @Model["counter"] times</p>
      <a href="/wordcouter"><button class="btn btn-info">Back to Game</button></a>
    </div>
  </body>
</html>
